<h1>Search#result</h1>
<p>Find me in app/views/search/result.html.erb</p>
<p> variable de recherche <% puts @test %> </p>
<table>
  <tr>
    <th>Nom</th>
    <th>Date sortie</th>
	<th>Poster</th>
	<th>Ajouter a ma liste</th>
  </tr>

	<% @filmSearch.each do |films| %>
  <tr>
    <td><%= films.title %></td>
    <td><%=  films.release_date %></td>
	<td><%= image_tag("http://image.tmdb.org/t/p/w154/" + films.poster_path, :alt => "rss feed") %></td>
	<td><%= link_to "Profile", controller: "liste", action: "add", id: films.id %></td>
  </tr>
	<% end %>
  

</table>