<h1>Listing recherches</h1>

<div class="listFilm">
    <% @recherches.each do |recherch| %>
      <% if @cote==1 %>
        <ul class="droite">
	        <% @cote += 1 %>
	      <% else %>
	        <ul class="gauche">
	        <% @cote = 1 %>
	      <% end %>
        <li><%= link_to 'Show', recherch %></li>
        <li><%= link_to 'Edit', edit_recherch_path(recherch) %></li>
        <li><%= link_to 'Destroy', recherch, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    <% end %>
</div>

<br>

<%= link_to 'New Recherche', new_recherch_path %>
