/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header{
	margin: 0;
    width: 100%;
    text-align: right;
    height: 50px;
    line-height: 50px;
}

header a{
	font-size: 17px;
    color: #27ae60!important;
}
header p.title{
	float: left;
	font-size: 30px;
	margin-left: 2%;
	font-family: fantasy;
	margin:0;
	color: #34495e;
}
header ul.log{
	margin:0;
	color:#0a1f1f;
    float: right;
}
@media screen and (max-width: 540px)
{ 
    
}

