// Place all the styles related to the Liste conuloller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listFilm{
	width: 90%;
	margin: 0 auto;
}
ul{
	width: 50% !important;
	float:left;
	padding:0;
	background: #4F7F7F;
	margin-bottom: 0.5;
	margin-top: 0
}

ul li p{
	text-align: left;
	padding-left: 35%;
	font-size: 20px;
	font-family: Arial, sans-serif;
}

li {
	text-align: center;
	list-style: none;
	font-size: 20px !important;
}

li:nth-child(4) {
	width:600px;
}

img{
	height: 231px;
	width: 154px;
	float: left;
}

a{
	font-size: 25px;
	background: #0a1f1f;
	text-decoration: none;
	padding: 5px;
	border-radius: 7px;
	color: #fff !important;
}